body {
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 14px;
    font-style: normal;
}

hr{
    border: 1px dotted black;
}